.recipename {
    font-size: 2rem;
    font-weight: bold;
  }

.alignleft {
    text-align: left;
}

.aligncenter {
  text-align: center;
}

.inline {
    display: inline;
}

.titlemargin {
    margin-bottom: 8px;
}

.flex-container {
    display: flex;
  }
  
  .reviews-container {
    flex: 1; /* Takes up remaining space */

  }
  
  .form-container {
    width: 300px; /* Adjust the width as needed */
    margin-left: 20px; /* Add some margin between the two containers */
  }

  .bottommargin {
    margin-bottom: 16px;
  }